
#blockadminlight-form #edit-blocks {
  font-family:monospace;
}

#blockadminlight-monitor {
  position:fixed;
  left:30%;
  top:-50px;
  border:2px solid #777;
  border-width:1px 5px;
  padding:0 20px;
  background:#ddd;
  font-size:14px;
  line-height:24px;
  z-index:999;
}

#blockadminlight-monitor.enabled {
  top:auto;
  bottom:0;
}

#blockadminlight-monitor a {
  background:#eee;
  font-size:14px;
  margin:0 4px;
  padding:2px 6px;
  line-height:20px;
  border:2px solid #999;
  border-width:0 3px;
  color:#0062a0;
}

#blockadminlight-monitor a,
#blockadminlight-monitor span {
  font-size:14px;
  float:left;
}

#blockadminlight-monitor a#blockadminlight-delete {
  color:#b00;
}

#blockadminlight-monitor .hidden {
  display:none;
}

#blockadminlight-monitor a:hover {
  border-color:#666;
  background:white;
}

#blockadminlight-monitor #blockadminlight-panel-root {
  position:relative;
  margin:0 6px;
}

#blockadminlight-monitor #blockadminlight-panel {
  position:absolute;
  bottom:100%;
  left:-4px;
  background:white;
  padding:2px;
  margin-bottom:-1px;
  zoom:1;
  border:1px solid #777;
  border-width:1px 3px;
  display:none;
  font-weight:normal;
}

#blockadminlight-panel-root:hover #blockadminlight-panel,
#blockadminlight-panel-root.sticky #blockadminlight-panel {
  display:block;
}

#blockadminlight-panel-root.sticky {
  font-weight:bold;
}



